@{
    ViewBag.Title = "Home Page";
}


<div class="row">

        <div class="col-md-4 col-lg-offset-2">
            <h2>Demo 1 - A simulated device</h2>
            <p>
                Anything can be a device!  This demo simulates a device using your browser by sending some random telemetry to a Cloud backend.  No worries, we're just sending a random number from 0 to 100!
            </p>
            <button class="btn btn-default">@Html.ActionLink("Go to Demo 1", "Demo1", "Home")</button>
        </div>
        <div class="col-md-4">
            <h2>Demo 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="btn btn-default">@Html.ActionLink("Go to Demo 2", "Demo2", "Home")</button>
        </div>

    </div>